@import url("style.css");
@import url("media-queries.css");

/* common */

a.button {
    border-radius: 5px;
}

.container-certificate .box {
    border-radius: 5px;
}


/* common */

.container-certificate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* if you need in horizontal, comment string below */
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 30px;
}

.container-certificate .box {
    position: relative;
    background-color: #f8f9fa;
    width: 28rem;
    height: 40em;
    /* width: 18rem;
    height: 30rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionCertificate {
    margin-top: 5px;
}


/* .container-certificate .box:nth-child(2) {
    margin-left: 2rem;
}

.container-certificate .box:nth-child(3) {
    margin-left: 2rem;
}

.container-certificate .box:nth-child(4) {
    margin-left: 2rem;
}

.container-certificate .box:nth-child(5) {
    width: 28rem;
    height: 40em;
}

.container-certificate .box:nth-child(6) {
    width: 28rem;
    height: 40em;
}

.container-certificate .box:nth-child(7) {
    width: 28rem;
    height: 40em;
} */

.container-certificate .box::before {
    content: "";
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    z-index: -1;
    transform: skewY(-15deg);
    /*  - it's toward in right corner by X axis */
    /* transform: skewX(15deg); */
    transition: 0.5s ease-in-out;
}

.container-certificate .box:hover::before {
    transform: skewY(0deg);
    inset: -10px 40px;
}

.container-certificate .box::after {
    content: "";
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    z-index: -1;
    transform: skew(-15deg);
    /* transform: skewX(15deg);  - it's toward in right corner by X axis */
    transition: 0.5s ease-in-out;
}

.container-certificate .box:hover::after {
    transform: skew(0deg);
    inset: 40px -10px;
}

.container-certificate .box .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-certificate .box .content .imgs {
    color: var(--clr);
    width: 25rem;
    height: 20rem;
    /* width: 15rem;
    height: 10rem; */
    box-shadow: 0 0 0 4px #f8f9fa, 0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #f8f9fa;
    transition: 0.5s ease-in-out;
}

.container-certificate .box:hover .content .imgs {
    background: var(--clr);
    color: #f8f9fa;
    box-shadow: 0 0 0 4px #f8f9fa, 0 0 0 300px var(--clr);
}

.container-certificate .box .content .text {
    width: 100%;
    height: 17rem;
}

.container-certificate .box:nth-child(3) .content .text {
    width: 25rem;
    height: 15rem;
}


/* .container-certificate .box:nth-child(5) .content .imgs {
    width: 25rem;
    height: 20rem;
}

.container-certificate .box:nth-child(6) .content .imgs {
    width: 25rem;
    height: 20rem;
}

.container-certificate .box:nth-child(7) .content .imgs {
    width: 25rem;
    height: 20rem;
} */

.container-certificate .box .content .text h3 {
    font-size: 1.5em;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.container-certificate .box:hover .content .text h3 {
    color: #f8f9fa;
    font-weight: 600;
}


/* .container-certificate .box:nth-child(5) .content .text h3 {
    font-size: 1.5rem;
}

.container-certificate .box:nth-child(6) .content .text h3 {
    font-size: 1.5rem;
}

.container-certificate .box:nth-child(7) .content .text h3 {
    font-size: 1.5rem;
} */

.container-certificate .box .content .text p {
    transition: 0.5s ease-in-out;
    color: rgb(100, 96, 96);
    line-height: 0.6rem;
    font-size: 1rem;
    text-align: left;
}

.container-certificate .box:hover .content .text p {
    color: #f8f9fa;
    line-height: 0.6rem;
    font-size: 1rem;
    text-align: left;
}


/* .container-certificate .box:nth-child(5) .content .text p {
    font-size: 1.1rem;
}

.container-certificate .box:nth-child(6) .content .text p {
    font-size: 1.1rem;
}

.container-certificate .box:nth-child(7) .content .text p {
    font-size: 1.1rem;
} */

.container-certificate .box .content .text ul.list-skills {
    line-height: 1rem;
    font-size: 1rem;
    list-style-type: circle;
    text-align: left;
    color: rgb(100, 96, 96);
}

.container-certificate .box:hover .content .text ul.list-skills {
    line-height: 1rem;
    font-size: 1rem;
    list-style-type: circle;
    text-align: left;
    color: #f8f9fa;
}

.container-certificate .box:nth-child(2) .content .text ul.list-skills {
    font-size: 1rem;
    line-height: 1.2rem;
}


/* .container-certificate .box:nth-child(5) .content .text ul.list-skills {
    font-size: 1rem;
    line-height: 1.2rem;
}

.container-certificate .box:nth-child(6) .content .text ul.list-skills {
    font-size: 1rem;
    line-height: 1.2rem;
}

.container-certificate .box:nth-child(7) .content .text ul.list-skills {
    font-size: 1rem;
    line-height: 1.2rem;
} */

.container-certificate .box .content .text a {
    position: relative;
    background: var(--clr);
    color: #f8f9fa;
    padding: 6px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}

.container-certificate .box:hover .content .text a {
    background: #f8f9fa;
    color: var(--clr);
    font-weight: 600;
}

.git {
    margin-right: 25px;
}

.container-certificate .box .content .text a.link {
    margin-left: 25px;
    padding: 6px 27px;
}


/* carrousel */

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2346C6FA' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2346C6FA' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 30;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */


/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */


/* Caption text */


/* 
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */


/* Number text (1/3 etc) */

.numbertext {
    color: var(--clr);
    font-size: 2rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    .container-top {
        overflow: hidden;
    }
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    .container-top {
        overflow: hidden;
    }
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
    .container-top {
        overflow: hidden;
    }
    .container-certificate .box::before {
        content: "";
        position: absolute;
        inset: -10px 50px;
        border-top: 4px solid var(--clr);
        border-bottom: 4px solid var(--clr);
        z-index: -1;
        transform: skewY(0deg);
        /*  - it's toward in right corner by X axis */
        /* transform: skewX(15deg); */
        transition: 0.5s ease-in-out;
    }
    .container-certificate .box:hover::before {
        transform: skewY(0deg);
        inset: -10px 40px;
    }
    .container-certificate .box::after {
        content: "";
        position: absolute;
        inset: 60px -10px;
        border-left: 4px solid var(--clr);
        border-right: 4px solid var(--clr);
        z-index: -1;
        transform: skew(0deg);
        /* transform: skewX(15deg);  - it's toward in right corner by X axis */
        transition: 0.5s ease-in-out;
    }
    .container-certificate .box:hover::after {
        transform: skew(0deg);
        inset: 40px -10px;
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}