@import url("style.css");
.examples {
    margin-top: 6rem;
    height: 36rem;
    background-color: aqua;
}

.cell {
    width: 33%;
    height: 350px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
}

.cell img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}