section#sectionProjects {
    width: 100vw;
    height: auto;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

section#sectionProjects div.projects {
    width: 100vw;
    height: auto;
}

section#sectionProjects div.projects div.row-projects-title {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
    /* top: -3rem; */
}

section#sectionProjects div.projects div.row-projects-title h1.title-projects {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px #ababab;
}

section#sectionProjects div.projects div.row-projects-title h1.title-projects span {
    font-size: 5rem;
    font-family: 'Gabriola', cursive;
}

section#sectionProjects div.projects div.main-carousel {
    position: relative;
    top: -3rem;
    margin-bottom: 4rem;
}

section#sectionProjects div.projects div.main-carousel div.carousel-cell {
    width: 66%;
    height: 400px;
    margin-right: 3rem;
    counter-increment: gallery-cell;
    border-radius: 8px;
    overflow: hidden;
}


/* cell number */

section#sectionProjects div.projects div.main-carousel div.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 0;
}

section#sectionProjects div.projects div.main-carousel div.carousel-cell img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: 2s;
}

section#sectionProjects div.projects div.main-carousel div.carousel-cell a div.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(245, 245, 245, 0.6);
    color: black;
    overflow: hidden;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Gabriela', serif;
}

section#sectionProjects div.projects div.main-carousel div.carousel-cell a div.overlay div.text {
    margin-left: 1rem;
}

section#sectionProjects div.projects div.main-carousel div.carousel-cell a div.overlay div.text p {
    margin-left: 2rem;
}

section#sectionProjects div.projects div.main-carousel div.carousel-cell a div.overlay div.text h5 {
    margin-bottom: 10px;
}

section#sectionProjects div.projects div.main-carousel div.carousel-cell img:hover {
    transform: scale3d(1.3, 1.3, 1.3);
    transition: 1s;
}

section#sectionProjects div.projects div.main-carousel div.carousel-cell:hover {
    border: 2px solid #FAF643;
    transition: 1s;
}


/* design flickity */

.flickity-prev-next-button.next {
    right: 70px!important;
    color: black;
}

.flickity-prev-next-button.next:hover {
    right: 70px!important;
    border: 2px solid #FAF643;
    color: #FAF643;
}

.flickity-prev-next-button.previous {
    left: 70px!important;
    color: black;
}

.flickity-prev-next-button.previous:hover {
    left: 70px!important;
    border: 2px solid #FAF643;
    color: #FAF643;
}

.flickity-page-dots {
    bottom: -5rem!important;
}

.flickity-page-dots .dot {
    width: 1rem!important;
    height: 1rem!important;
    background: #4688FB!important;
}


/* END design flickity */


/* text color */

.blue-text {
    color: #4688FB;
}

.gray-text {
    color: #5a5858;
}


/* MEDIA QUERIES */


/* XX-Large devices (larger desktops, 1400px and up) */

@media screen and (max-width: 1599px) {}


/* X-Large devices (large desktops, 1200px and up) */

@media screen and (max-width: 1399px) {}


/* Large devices (desktops, 992px and up) */

@media screen and (max-width: 1199px) {}


/* Medium devices (tablets, 768px and up) */

@media screen and (max-width: 991px) {}


/* Small devices (landscape phones, 576px and up) */

@media screen and (max-width: 768px) {
    .flickity-prev-next-button.next {
        right: 90px!important;
    }
    .flickity-prev-next-button.next:hover {
        right: 90px!important;
    }
    .flickity-prev-next-button.previous {
        left: 60px!important;
    }
    .flickity-prev-next-button.previous:hover {
        left: 60px!important;
    }
    section#sectionProjects div.projects div.main-carousel div.carousel-cell {
        width: 100%;
        height: 350px;
        margin: 0 15px;
        overflow: hidden;
        border-radius: 8px;
    }
    section#sectionProjects div.projects div.main-carousel div.carousel-cell img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        padding-left: 0;
    }
    section#sectionProjects div.projects div.main-carousel div.carousel-cell img:hover {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    section#sectionProjects div.projects div.main-carousel div.carousel-cell a div.overlay {
        width: 100%;
        height: 40%;
    }
    section#sectionProjects div.projects div.main-carousel div.carousel-cell a div.overlay div.text p,
    .blue-text,
    .gray-text {
        font-size: 14px;
    }
}


/* Extra-small devices (landscape phones, up to 576px) */

@media screen and (max-width: 576px) {}


/* xxs devices (phones, up to 395px) */

@media screen and (max-width: 395px) {
    section#sectionProjects div.projects div.main-carousel {
        left: 0.7rem;
    }
    section#sectionProjects div.projects div.main-carousel div.carousel-cell img {
        width: 90%;
        height: 350px;
        object-fit: cover;
        padding-left: 0;
    }
    section#sectionProjects div.projects div.main-carousel div.carousel-cell a div.overlay {
        width: 90%;
    }
}


/* end MEDIA QUERIES */