@import url("style.css");
@import url("media-queries.css");
section#sectionSkills {
    z-index: 1;
    height: auto;
}

.section-skills {
    background-color: #f8f9fa89;
    margin-top: 7rem!important;
}

.check-mark {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3em;
}

.check-mark span {
    font-size: 146x;
    font-weight: 900;
}

.frontend {
    padding: 8px;
}

.backend {
    padding: 8px;
}

ul.given-for-work {
    list-style: none;
    padding: 0px;
}

ul.given-for-work li:before {
    content: '\2713';
    margin: 0 1em;
    /* any design */
}

ul.given-for-work li.another-list:before {
    content: '\2746';
    margin: 0 5em;
    font-size: 10px;
}

ul.given-for-work li.another-list-dash:before {
    content: '-';
    margin: 0 5em;
}

.preply {
    position: relative;
    -webkit-box-shadow: -10px 0px 13px -7px #5b5757, 10px 0px 13px -7px #5b5757, -2px 10px 18px 10px rgba(0, 0, 0, 0.43);
    box-shadow: -10px 0px 13px -7px #5b5757, 10px 0px 13px -7px #5b5757, -2px 10px 18px 10px rgba(0, 0, 0, 0.43);
    top: -20px;
    right: 40px;
}