@import url("style.css");
@import url("certificate.css");
@import url("top.css");
section#section-skills {
    z-index: 1;
    height: auto;
}

.section-skills {
    background-color: #f8f9fa89;
}

.check-mark {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3em;
}

.check-mark span {
    font-size: 146x;
    font-weight: 900;
}

.frontend {
    padding: 8px;
}

.backend {
    padding: 8px;
}