@import url('https://fonts.googleapis.com/css2?family=Pacifico&EB+Garamond:ital@0;1&Dancing+Script&family=Permanent+Marker&family=Poppins&family=Raleway:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-main: 'Montserrat', sans-serif;
    --font-brand: 'Permanent Marker', cursive;
    --font-cursive: 'EB Garamond', cursive;
    --main-blue: #2EA1DA;
    --main-pink: #E83879;
    --main-orange: #FBB845;
    --main-beige: #F4E8D0;
    --main-green: #89ec5b;
}

body {
    /* z-index: 2; */
    /* background-color: #f1ebdfb7; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* overflow: hidden; */
}

nav {
    z-index: 2;
    width: 100%;
    height: 10vh;
    /* background: #fff; */
}

.navbar-brand {
    font-family: var(--font-brand);
    color: #0CBDE1;
}

#progress {
    background: linear-gradient(to right, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%);
    height: 10px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#section-skills {
    padding: 10px;
    height: 50em;
    width: 100%;
    /* border: 1px;
    border-style: outset; */
}

#section-sertificate {
    padding: 10px;
    height: 50em;
    width: 100%;
    border: 1px;
    /* border-style: outset; */
}

section #hours {
    height: 50em;
    width: 100%;
}

footer {
    height: 5em;
    width: 100%;
}

a[target="_blank"] {
    background-color: #0dcaf0;
}


/* ------ */

.main-font {
    font-family: var(--font-main);
}