.custom-shape-divider-bottom-1671149243 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671149243 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1671149243 .shape-fill {
    fill: #FFFFFF;
}

section#sectionTop {
    position: relative;
    max-width: 100vw;
    height: 47rem;
    background-color: #2d2c6c;
    /* z-index: 1; */
    overflow: hidden;
}

div#container-top {
    position: absolute;
    width: 100%;
    height: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

section#sectionTop div.container {
    width: 100vw;
    height: 47rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 2;
}

section#sectionTop div.container div.container-avatar {
    position: relative;
    display: grid;
    grid: 350px / auto;
    place-items: start;
    line-height: 50px;
    width: 80vw;
}

section#sectionTop div.container div.container-avatar div.ava,
div.my-name {
    text-align: center;
    padding: 20px 0;
}

section#sectionTop div.container div.container-avatar div.my-name {
    position: relative;
    /* top: -30px; */
    display: grid;
    place-items: start;
    align-self: center;
    line-height: 2rem;
    /* animation-name: example;
    animation-duration: 3s; 
    transition: 3s;*/
}


/* 
@keyframes example {
    from {
        left: -50rem;
        animation-timing-function: linear;
    }
    to {
        left: 0px;
    }
} */


/* ava */

section#sectionTop div.container div.container-avatar div.ava img {
    width: 218px;
    height: 250px;
    filter: sepia(30%);
}


/* animated border */

section#sectionTop div.container div.container-avatar div.ava {
    position: relative;
    display: flex;
    justify-content: start;
    width: 228px;
    height: 260px;
    overflow: hidden;
    z-index: 0;
    padding: 0.3rem;
    align-self: center;
    transform: scale3d(0.1, 0.1, 0.1);
    transition: 3s;
    /* filter: blur(4px); */
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

section#sectionTop div.container div.container-avatar div.ava::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#4443A3, white, #4443A3, white), linear-gradient(#4443A3, white, #4443A3, white), linear-gradient(#4443A3, white, #4443A3, white), linear-gradient(#4443A3, white, #4443A3, white);
    animation: rotate 6s linear infinite;
}

section#sectionTop div.container div.container-avatar div.ava::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: #333;
}


/* end animated border */


/* END ava */


/* design strings */

section#sectionTop div.container div.container-avatar div.my-name h1.top-container-name {
    font-family: 'Gabriela', serif;
    color: white;
    font-size: 2vw;
    text-shadow: 2px -2px 4px rgb(0, 0, 0), -3px 2px 5px rgba(0, 0, 0, 1);
}

section#sectionTop div.container div.container-avatar div.my-name p.dev {
    font-family: 'Gabriela', serif;
    color: #6c757d;
    font-weight: 600;
    font-size: 16px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px rgb(255, 146, 19), 0 0 30px rgb(255, 146, 19), 0 0 40px rgb(255, 146, 19), 0 0 55px rgb(255, 146, 19), 0 0 75px rgb(255, 146, 19);
}

section#sectionTop div.container div.container-avatar div.my-name p.description-top {
    font-family: 'Gabriela', serif;
    color: whitesmoke;
    text-shadow: 0 0 4px rgb(1, 1, 1);
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: 15px;
    position: relative;
    left: -40px;
}


/* MEDIA QUERIES */


/* Large devices (desktops, 992px and up) */

@media screen and (max-width: 1199px) {}


/* Medium devices (tablets, 768px and up) */

@media screen and (max-width: 991px) {
    section#sectionTop div.container div.container-avatar {
        top: -4rem;
    }
    section#sectionTop div.container div.container-avatar div.my-name h1.top-container-name {
        font-size: 4vw;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media screen and (max-width: 768px) {
    section#sectionTop div.container div.container-avatar {
        top: -4rem;
    }
}


/* Extra-small devices (landscape phones, up to 576px) */

@media screen and (max-width: 576px) {
    section#sectionTop div.container {
        justify-content: center;
    }
    section#sectionTop div.container div.container-avatar {
        place-items: center;
        width: 65vw;
        top: -5rem;
    }
    section#sectionTop div.container div.container-avatar div.ava {
        text-align: center;
        justify-content: center;
        align-content: center;
        width: 230px;
        height: 260px;
    }
    section#sectionTop div.container div.container-avatar div.my-name {
        place-items: center;
        align-self: center;
        top: -6rem;
    }
    section#sectionTop div.container div.container-avatar div.my-name h1.top-container-name {
        font-size: 4vw;
        margin-top: 2rem;
    }
    section#sectionTop div.container div.container-avatar div.my-name p.dev {
        font-size: 3vw;
    }
    section#sectionTop div.container div.container-avatar div.my-name p.description-top {
        font-size: 3vw;
        left: 0;
        text-align: center;
    }
}


/* xxs devices (phones, up to 395px) */

@media screen and (max-width: 395px) {
    section#sectionTop div.container {
        justify-content: center;
    }
    section#sectionTop div.container div.container-avatar {
        place-items: center;
        width: 65vw;
        top: -5rem;
    }
    section#sectionTop div.container div.container-avatar div.ava {
        text-align: center;
        justify-content: center;
        align-content: center;
        padding: 20px 0;
        width: 208px;
        height: 230px;
    }
    section#sectionTop div.container div.container-avatar div.my-name {
        place-items: center;
        align-self: center;
    }
    section#sectionTop div.container div.container-avatar div.my-name h1.top-container-name {
        font-size: 6vw;
    }
    section#sectionTop div.container div.container-avatar div.my-name p.dev {
        font-size: 3vw;
    }
    section#sectionTop div.container div.container-avatar div.my-name p.description-top {
        font-size: 4vw;
        left: 0;
        text-align: center;
    }
    /* ava */
    section#sectionTop div.container div.container-avatar div.ava img {
        width: 200px;
        height: 220px;
        top: -14px;
        position: relative;
    }
}


/* end MEDIA QUERIES */