@import url("style.css");
.container-top {
    /* z-index: -1; */
    /* border: solid #444; */
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.container-button button {
    border: solid 3px #ffc107;
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 2px 5px 16px 0px rgba(255, 255, 255, 0.73);
    box-shadow: 2px 5px 16px 0px #0B325E, 2px 5px 16px 0px rgba(255, 255, 255, 0.73);
    font-weight: bold;
}

.container-button button:hover {
    color: rgba(68, 68, 68, 0.9);
}

.block {
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.block:nth-child(3n+2) {
    background: rgba(68, 68, 68, 0.9);
}

.block:nth-child(3n+3) {
    background: rgba(255, 146, 19, 0.9);
}

section#section-top {
    position: relative;
    width: 100%;
    height: 50em;
}

p.name-hi {
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px -2px 4px rgb(0, 0, 0), -3px 2px 5px rgba(0, 0, 0, 1);
}

h1.top-container-name {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 2.2vw;
    letter-spacing: 2px;
    text-shadow: -3px -3px 3px rgba(255, 255, 255, .1), 3px 3px 3px rgba(255, 146, 19, .5);
}

div.name-container {
    display: flex;
    justify-content: center;
    top: 4em;
    /* padding-top: 4rem; */
}

div#name-container {
    background-color: #f8f9fa89;
    border-radius: 10px;
    padding: 3rem 3rem;
    margin-left: 60px;
    /* border-radius: 10% / 50%; */
}

div.about {
    /* background-color: #f8f9fa7c; */
    border-radius: 5px;
    padding: 15px;
    letter-spacing: 1.2px;
    font-family: var(--font-main);
    font-weight: 500;
    text-shadow: 0px 1px 0px black;
    font-size: 1.1vw;
}


/* image Avatar */

div.container-avatar {
    position: relative;
    display: inline;
    justify-content: center;
    align-items: center;
}

img.avatar {
    border: 0.2rem solid rgba(255, 255, 255, 0.39);
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

div.name {
    background-color: #f8f9fa00;
}

p.dev {
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px rgb(255, 146, 19), 0 0 30px rgb(255, 146, 19), 0 0 40px rgb(255, 146, 19), 0 0 55px rgb(255, 146, 19), 0 0 75px rgb(255, 146, 19);
}


/********** Extra extra large devices only **********/

@media (min-width: 1400px) {
    div#name-container {
        background-color: #f8f9fa89;
        width: 50rem;
        height: 27rem;
        border-radius: 10px;
        /* border-radius: 10% / 50%; */
    }
    div.about {
        /* background-color: #f8f9fa7c; */
        border-radius: 5px;
        padding: 15px 2px;
        letter-spacing: 1.2px;
        font-family: var(--font-main);
        font-weight: 500;
        text-shadow: 0px 1px 0px black;
        font-size: 1rem;
    }
}


/********** Extra large devices only **********/

@media (min-width: 1200px) and (max-width: 1400px) {
    div#name-container {
        background-color: #f8f9fa89;
        border-radius: 10px;
        width: 50rem;
        height: 27rem;
        /* border-radius: 10% / 50%; */
    }
    div.about {
        /* background-color: #f8f9fa7c; */
        border-radius: 5px;
        padding: 15px 2px;
        letter-spacing: 1.2px;
        font-family: var(--font-main);
        font-weight: 500;
        text-shadow: 0px 1px 0px black;
        font-size: 0.9rem;
    }
}


/********** Large devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    div#name-container {
        background-color: #f8f9fa89;
        width: 50rem;
        border-radius: 10px;
        /* border-radius: 10% / 50%; */
    }
    div.about {
        /* background-color: #f8f9fa7c; */
        border-radius: 5px;
        padding: 15px 2px;
        letter-spacing: 1.2px;
        font-family: var(--font-main);
        font-weight: 500;
        text-shadow: 0px 1px 0px black;
        font-size: 0.9rem;
    }
}


/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .container-top {
        overflow: hidden;
    }
    .container-avatar {
        position: relative;
        right: -10px;
    }
    h1.top-container-name {
        font-family: 'Pacifico', cursive;
        color: white;
        font-size: 1.6rem;
        letter-spacing: 2px;
        text-shadow: -3px -3px 3px rgba(255, 255, 255, .1), 3px 3px 3px rgba(255, 146, 19, .5);
    }
    div#name-container {
        background-color: #f8f9fa89;
        width: 25rem;
        height: 40rem;
        border-radius: 10px;
        /* border-radius: 10% / 50%; */
    }
    div.about {
        /* background-color: #f8f9fa7c; */
        border-radius: 5px;
        padding: 3px 2px;
        letter-spacing: 1.2px;
        font-family: var(--font-main);
        font-weight: 500;
        text-shadow: 0px 1px 0px black;
        font-size: 0.9rem;
    }
    .quote2 {
        left: -460px;
    }
    .quote1 {
        left: -50px;
    }
    .preply {
        position: relative;
        top: -8px;
        right: 40px;
    }
}


/********** Small devices only **********/

@media (min-width: 577px) and (max-width: 767px) {
    .container-top {
        overflow: hidden;
    }
    div#name-container {
        background-color: #f8f9fa89;
        width: 33rem;
        height: 18rem;
        border-radius: 10px;
        padding: 1rem;
        margin-left: 2rem;
        /* border-radius: 10% / 50%; */
    }
    .avatar {
        position: relative;
        top: 30px;
    }
    .name-hi {
        margin: 0;
        padding: 0;
    }
    div.about {
        /* background-color: #f8f9fa7c; */
        border-radius: 5px;
        padding: 5px;
        letter-spacing: 1.2px;
        font-family: var(--font-main);
        font-weight: 500;
        font-size: 0.7rem;
    }
    h1.top-container-name {
        font-family: 'Pacifico', cursive;
        color: white;
        font-size: 1.7rem;
        letter-spacing: 2px;
        text-shadow: -3px -3px 3px rgba(255, 255, 255, .1), 3px 3px 3px rgba(255, 146, 19, .5);
    }
    p.name-hi {
        margin-bottom: 8px;
    }
    .quote2 {
        left: -258px;
    }
    .quote1 {
        left: -50px;
    }
    .preply {
        position: relative;
        top: -1px;
        right: 125px;
    }
}


/*********** Extra small devices only  ***********/

@media (max-width: 576px) {
    .container-top {
        overflow: hidden;
    }
    div#name-container {
        background-color: #f8f9fa89;
        width: 25rem;
        height: 25rem;
        border-radius: 10px;
        padding: 1rem;
        margin-left: 10px;
        /* border-radius: 10% / 50%; */
    }
    section#section-top {
        position: relative;
        width: 100%;
        height: 58em;
    }
    .avatar {
        position: relative;
        top: 30px;
    }
    .name-hi {
        margin: 0;
        padding: 0;
    }
    div.about {
        border-radius: 5px;
        padding: 5px;
        letter-spacing: 1.2px;
        font-family: var(--font-main);
        font-weight: 500;
        font-size: 0.7rem;
    }
    h1.top-container-name {
        font-family: 'Pacifico', cursive;
        color: white;
        font-size: 1.7rem;
        letter-spacing: 2px;
        text-shadow: -3px -3px 3px rgba(255, 255, 255, .1), 3px 3px 3px rgba(255, 146, 19, .5);
    }
    p.name-hi {
        margin-bottom: 4px;
    }
    .quote2 {
        left: -258px;
    }
    .quote1 {
        left: -50px;
    }
    .preply {
        position: relative;
        top: -1px;
        right: 105px;
    }
}